body {
    background-color:bisque;
}
.container{
    font-size: medium;
}
table,td,th{
    padding:15px ;
    font-size: larger;
    border: 1px solid black;
    
}
table{
    width:100%;
}
th{
    height: 50px;
}
#akan{
    line-height: 300%;
    font-size: medium;
}
h1{
    color: #b66f12;
    text-align: center;
}
p{
    font-size: medium;
}
footer{
    text-align: center;
    color: black;
    font-weight: bolder;
    font-size: x-large;
    background-color: coral;
    border-radius: 67px;

}